
{{ define "page" }}

    <section id="hero-banner" class="bg-dark">
        <div class="section-inner">
            <div class="header"><span>Build <span class="orange-text">transformative</span> tools</span></div>
            <p class="big">
                Design and build innovative tooling
                for developers and power users.</p>
        </div>
    </section>

    <section class="grid">
        <!-- svg grid background in here -->
    </section>

    <section id="tool-examples" class="bg-light">
        <div class="section-inner card-container">
            <div class="card">
                <img src="/img/dev_tools.png" />
                <h2>Developer Tools</h2>
                <p>From cloud platforms and development environments to playgrounds and tutorials, we can bend complex toolchains to <em>your</em> will and empower developers both inside and outside your organization.
                </p>
            </div>
            <div class="card">
                <img src="/img/creator_tools.png" />
                <h2>Creator Tools</h2>
                <p>Content creators and knowledge professionals shouldn't be limited by their tools. If you can imagine a transformative tool for power users, we can bring it into reality.
                </p>
            </div>
            <div class="card">
                <img src="/img/internal_tools.png" />
                <h2>Internal Tools</h2>
                <p>No-code can only get you so far. We build workflow and information tools with full programmability and extensibility, so your tailor-fit solutions can grow and adapt with your needs over time.
                </p>
            </div>
        </div>
    </section>

    <section class="grid">
        <!-- svg grid background in here -->
    </section>

    <section id="about">
        <div class="section-inner">
            <h2 class="small-header">Background</h2>
            <p class="big">For 20 years, Jeff Lindsay has helped shape modern cloud and software development.</p>
            <p>He independently pioneered webhooks while envisioning serverless and "no-code" 10 years ahead of mass adoption. Then at NASA Ames, he worked on what became OpenStack, which is now used by 9 of the world's 10 largest telecoms.</p>
            <p>As an early engineer at Twilio, he helped lead industry best practices around REST and real-time API design. There he also wrote the first JSON Web Token libraries and contributed to many other open web standards.</p>
            <p>Then he helped design and kickstart the Docker project, transforming cloud and ops forever. Using Docker, he created Dokku, the most popular open-source Heroku alternative. He built logspout and registrator, which have since been pulled over half a billion times.</p>
            <p>He's made many other novel open-source projects including localtunnel, which directly inspired Ngrok among others.</p>
            <p style="font-weight: bold;">Now he and his team are available to work with you on the next big thing...</p>
                
        </div>
    </section>



    <section id="specializing-in" class="bg-light">
        <div class="section-inner">
            <h2 class="small-header">Recently Specializing In</h2>
            <div class="card-container card-container-column">
                <div class="card-flex-row">
                    <img src="/img/wasm.svg" />
                    <div class="card-flex-row-text">
                        <h3>WASM</h3>
                        <p>WebAssembly (Wasm) isn't just a new take on "write once, run anywhere." Creative use of WebAssembly enables new possibilities in browsers, in the cloud, and beyond. We are particularly excited about using it to make products more programmable and extensible by users.
                        </p>
                    </div>
                </div>

                <div class="card-flex-row">
                    <img src="/img/vscode.svg" />
                    <div class="card-flex-row-text">
                        <h3>VSCode</h3>
                        <p>VSCode is the most widely used software development editor, and integrating with it through extensions meets developers where they are. We also love to build entirely new, standalone tools using VSCode as a foundation, saving development time while providing a familiar UX.
                        </p>
                    </div>
                </div>

                <div class="card-flex-row">
                    <img src="/img/local_first.svg" />
                    <div class="card-flex-row-text">
                        <h3>Local-First</h3>
                        <p>Local-first architecture gives users more privacy, responsiveness, and offline capabilities. This approach pushes data to the edge, which also reduces cost and complexity for operation. Bring us your local-first challenges!
                        </p>
                    </div>
                </div>
                
                
            </div>
       </div>

    </section>


    <section id="technology" class="bg-dark">
        <div class="section-inner">
            <h2 class="small-header">Our New Technology</h2>

            <div class="card-container">

                <div class="card">
                    <h3>Apptron</h3>
                    <p>Apptron is a full development environment like Codespaces or Gitpod that runs entirely in the browser without any cloud compute resources. Apptron is also a fully malleable environment that can be molded into more specialized tools.
                    </p>
                </div>


                <div class="card">
                    <h3>Wanix</h3>
                    <p>Wanix is an experimental WebAssembly-native operating system inspired by Unix and Plan 9. Wanix can run natively or in the browser to power portable, sandboxed development environments like Apptron.
                    </p>
                </div>


                <div class="card">
                    <h3>Manifold</h3>
                    <p>Manifold is a revolutionary new way to build software systems that is more accessible and productive than just writing code, while maintaining the performance and capabilities of working with a powerful systems language.
                    </p>
                </div>


            </div>
        </div>
    </section>

    <section class="bg-light" id="contact-section">
        <div class="section-inner">
            <h2>Let's work together</h2>
            <p>Start a conversation on how we can bring your vision to life.</p>

            <form id="contact-form">
                <label for="email">Your Email</label>
                <input type="email" id="email" name="entry.385455371" required>
                
                <label for="message">Your Project</label>
                <textarea id="message" name="entry.111699906" required></textarea>
                
                <button type="submit">Submit</button>
            </form>
            
            <p id="confirmation" style="display:none;">Message received. Thank you!</p>
            
            <script>
            document.addEventListener('DOMContentLoaded', function() {
                const form = document.getElementById('contact-form');
                
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
            
                    const formData = new FormData(form);
            
                    fetch('https://docs.google.com/forms/d/e/1FAIpQLSd8kmf754OCwAGALapbO7wlFfG7y7Jd5V4-j7tswwYFMbjuBA/formResponse', {
                        method: 'POST',
                        body: formData,
                        mode: 'no-cors'
                    }).then(() => {
                        document.getElementById('confirmation').style.display = 'block';
                        form.reset(); // Reset the form
                    }).catch(error => {
                        console.error('Error!', error.message);
                    });
                });
            });
            </script>
            
        </div>
    </section>



    <section class="grid">
        <!-- svg grid background in here -->
    </section>



{{ end }}